*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}
/* App.css */
body {
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}



.app-container {
  width: 390px; /* iPhone 12-14 width */
  height: 100vh;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}




::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e53935;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a51f1c;
}

@media (max-width: 420px) {
  body {
    display: block;
    align-items: unset;
    justify-content: unset;
  }

  .app-container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}



